<% if current_user %> 
  <h1><%=@issue.title%></h1>
    <%= @issue.description %><br>
    <%= @issue.urgency %><br>
    <%= link_to 'back', car_issues_path(@car) %>
    <hr>
    <% if mechanic? %>
      <%= button_to "New Repair", new_car_issue_repair_path(@car, @issue), method: "get" %>
    <% else %>
      <%= button_to "New Repair", new_car_issue_repair_path(@car, @issue), method: "get" %>
      <% @repairs.each do |repair| %><br>
       <div class="col-md-4">
        <div class="card card-block">
          <h3 class="card-title"><%= repair.title %></h3><br>
          <p class="card-text"><%= repair.date_completed %><br>
            <%= repair.description %><br></p>
            <%= link_to "Edit", edit_car_issue_repair_path(@car, @issue.id, repair.id) %><br>
             <%= link_to "Delete", car_issue_repair_path(@car, @issue, :repair => repair), method: :delete %><br><br>
        </div>
        </div>
      <% end %>
    <% end %>
<% else %>
  <h3>You must be logged in to view this page</h3>
<% end %>

