<div class="col-sm-3 col-md-6 issue-half">
  <% if current_user %> 
  <h4 class="maps-page" id ="map-left-side">Issue</h4>
    <h3><%=@issue.title%></h3>
    <%= @issue.description %><br>
    <span>Urgency: <%= @issue.urgency %></span><br><br>
    <%= link_to "Edit", edit_car_issue_path(@car, @issue.id), class: "btn btn-back-red" %><br><br>
    <%= link_to 'Back', car_issues_path(@car), class: "btn btn-back-blue" %>
  </div>
<% else %>
  <h3>You must be logged in to view this page</h3>
<% end %>
</div>
<div class="col-sm-3 col-md-6" id="map-right-side">
    <h4 class="maps-page map-right-side"> Repairs for issue: </h4>
      <% if mechanic? %>
        <%= link_to "Add Repair", new_car_issue_repair_path(@car, @issue), method: "get", class: "btn btn-info"  %>
      <% else %>
        <%= link_to "Add Repair", new_car_issue_repair_path(@car, @issue), method: "get", class: "btn btn-info" %>
      <% end %><br>
        <% @repairs.each do |repair| %><br>
        <%= repair.title %><br>
        <%= repair.date_completed %><br>
        <%= repair.description %><br></p>
        <%= link_to "Edit", edit_car_issue_repair_path(@car, @issue.id, repair.id) %><br>  <% end %>
</div>

<div id="map"></div>

<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE'] %>&libraries=places&callback=initMap" async defer></script>
