<% if @report_type == "Issue" %>
	<h1>New Repair Report</h1>
	  <%= form_for @repair, url: specials_path do |f| %>
	  <p>
	    <%= f.label :title%>:
	    <%= f.text_field :title %><br />
	  </p>
	  <p>
	    <%= f.label :mileage%>
	    <%= f.text_field :mileage %>
	  </p>
	  <p>
	  <p>
	    <%= f.label :date_completed %>
	    <%= f.date_field :date_completed %>
	  </p>
	  <p>
	    <%= f.label :description%>:
	    <%= f.text_area :description %><br />
	  </p>

	  <%= f.submit %>
	  <% end %>
<% end %>

