<% if current_user %>	
	<% if current_user.id == @car.user_id %>
		<h1>Edit Maintenance Report for <%= @maintenance.title %></h1>

		<% if @errors %>
			<ul>
				<% @errors.each do |error| %>
					<li><%= error %></li>
				<% end %>
			</ul>
		<% end %>

		<%= form_for([@car, @maintenance]) do |f| %>
			<p>
				<%= f.label :title %>
				<%= f.text_field :title, value: @maintenance.title %>
			</p>

			<p>
				<%= f.label :description %>
				<%= f.text_area :description, value: @maintenance.description %>
			</p>

			<p>
				<%= f.label :mileage %>
				<%= f.number_field :mileage, value: @maintenance.mileage %>
			</p>

			<p>
				<%= f.label :date_completed %>
				<%= f.date_field :date_completed, value: @maintenance.date_completed %>
			</p>

			<p>
				<%= f.submit %>
			</p>
		<% end %>
	<% else %>
		<h3>You are not authorized to view this page</h3>
	<% end %>
<% else %>
	<h3>You must be logged in to view this page</h3>
<% end %>