<div class="container">
	<% if current_user %>
	<% if current_user.id == @car.user_id %>
		<h1>Maintenance for <%= @car.make %> <%=@car.model%></h1><br>
		<%= link_to 'Add New Maintenance', new_car_maintenance_path(@car), class: "btn btn-green" %><br><br><br>
		<% @maintenances.each do |maintenance| %>
		<div class="row">
			<div class="col-md-2"><p><%= maintenance.title%></p></div>
			<div class="col-md-2"><p><%= maintenance.date_completed %></p></div>
			<div class="col-md-2"><p> <%= maintenance.mileage %> </p></div>
			<div class="col-md-6"><p><%= maintenance.description %> </p></div>
	</div>
		<% end %>
		<%= link_to 'Back', car_path(@car), class: "btn btn-reverse" %>
	<% else %>
		<h3>You are not authorized to view this page</h3>
	<% end %>
<% else %>
	<h3>You must be logged in to view this page</h3>
<% end %>
</div>