<h1>My Cars</h1>

<div>
<% if user_signed_in? %>
	<div>
	<ul>
		<% @cars.each do |car| %>
		<li><%= car.year %> |
		 	<%= link_to car.make, car_path(car)%> |
			<%= car.model %>
		</li>
			<% end %>
	</ul>
	</div>
	<div>
		<%= link_to 'add a car', new_car_path %>
	</div>
<% else %>
	<%= @errors %>
<% end %>
</div>