<h1><%= @car.year %>
<div>
	<%= @car.make %>
	<%= @car.model %></h1>
	<ul>
	<li><%= @car.color %></li>
	<li><%= @car.transmission %></li>
	<li><%= @car.engine %></li></ul>
</div>
<div>
	<%= link_to 'edit', edit_car_path(@car) %> |
	<%= link_to 'delete', car_path(@car), method: :delete,
	 data: { confirm: 'Are you sure?' } %>
</div>