<div class="container">
	<% if current_user %>	
		<h1><%= @car.year %> <%=@car.make %> <%= @car.model %></h1>
			<h3>Color: <%= @car.color %><br></h3>
			<h3>Transmission: <%= @car.transmission %><br></h3>
			<h3> Engine: <%= @car.engine %><br></h3>
<% else %>
	<h3>You must be logged in to view this page</h3>
<% end %>
<div>
	<%= link_to 'Edit Car Information', edit_car_path(@car) %><br><br>
</div>
	<div id="tabs">
	  <ul>
	    <li><a href="#fragment-1">Maintenance</a></li>
	    <li><a href="#fragment-2">Issues</a></li>
	  </ul>
	  <div id="fragment-1"><br>
	  	<%= link_to 'Add New Maintenance', new_car_maintenance_path(@car), class: "btn btn-green" %>
	  	<%= link_to 'Maintenance History', car_maintenances_path(@car), class: "btn btn-back" %><br><br>
				<%if @car.maintenances.blank? %>
					<p class="have-none"> You have no maintenance records. Click 'Add New Maintenance' to begin. </p>
				<%else%>
	    		<p> <% @car.maintenances.each do |maintenance|%>
	    		<%= maintenance.title %><br>
	    		<%= maintenance.date_completed %><br>
	    		<%= maintenance.description %><br><br>
	    		<%end%>
	   		</p>
	   		<%end%>
	  </div>
	  <div id="fragment-2"><br>
	  	<%= link_to 'Add New Issue', new_car_issue_path(@car), class: "btn btn-red" %>
			<%= link_to 'Issue History', car_issues_path(@car), class: "btn btn-red-outline" %><br><br>
			<%if @car.issues.blank? %>
				<p class="have-none"> You have no issue records. Click 'Add New Issue' to begin. </p>
			<%else%>
	    	<p><% @car.issues.each do |issue|%>
	    		<%= issue.title %><br>
	    		<%= issue.description%><br>
	    		<%= issue.urgency %><br><br>
	    		<%end%> </p>
	    	<%end%>
	  </div>
	</div><br>
	 <%= link_to 'Back', cars_path, class: "btn btn-reverse" %>
</div>
<script>
  $( "#tabs" ).tabs({collapsible: true});
</script>