<% if current_user %>	
	<% if current_user.id == @car.user_id %>
		<h1><%= @car.year %>
		<div>
			<%= @car.make %>
			<%= @car.model %></h1>
			<ul>
			<li><%= @car.color %></li>
			<li><%= @car.transmission %></li>
			<li><%= @car.engine %></li></ul>
		</div>
	<% else %>
		<h3>You are not authorized to view this page</h3>
	<% end %>
<% else %>
	<h3>You must be logged in to view this page</h3>
<% end %>

<div>
	<%= link_to 'maintenance history', car_maintenances_path(@car) %> |
	<%= link_to 'add new maintenance', new_car_maintenance_path(@car) %><br>
	<%= link_to 'issues history', car_issues_path(@car) %> |
	<%= link_to 'add new issue', new_car_issue_path(@car) %><br> 
	<%= link_to 'edit', edit_car_path(@car) %> |
	<%= link_to 'delete', car_path(@car), method: :delete,
	 data: { confirm: 'Are you sure?' } %><br>
	 <%= link_to 'back', cars_path %>
</div>
