<div class="container" id="dashboard">
	<% if current_user %>
    <div><h1 class="white-text"> <%= @car.year %> <%=@car.make %> <%= @car.model %> Dashboard</h1></div>
    <div class="row white-text">
        <div class="col-md-4">
            <h3>Car Details</h3>
		    <p>COLOR: <%= @car.color %><br></p>
		    <p>TRANSMISSION: <%= @car.transmission %><br></p>
		    <p> ENGINE: <%= @car.engine %><br></p>
	       <div>
		  	<span class="glyphicon glyphicon-edit"></span> <%= link_to 'Edit Car Info', edit_car_path(@car) %><br><br>
		   </div>
		      <%= image_tag @car.image.url(:medium) %><br>
		      <%= link_to "Comprehensive History", car_history_path(@car), class: "btn btn-blue-dark " %>
        </div>
            <style>
                .liquidFillGaugeText { font-family: Helvetica; font-weight: bold; }
            </style>

            <style>

                .unselectable {
                    -moz-user-select: -moz-none;
                    -khtml-user-select: none;
                    -webkit-user-select: none;
                    -ms-user-select: none;
                    user-select: none;
                    stroke: #ffffff;
                }

                /* css formats for the gauge */
                .gauge .domain {
                    stroke-width: 2px;
                    stroke: #199CCC;
                }

                .gauge .tick line {
                    stroke: #199CCC;
                    stroke-width: 2px;
                }

                .gauge line {
                    stroke: #5f9ea0;
                }

                .gauge .arc, .gauge .cursor {
                    opacity: 0;
                }

                .gauge .major {
                    fill: $-accent;
                    font-size: 20px;
                    font-family: 'Play', verdana, sans-serif;
                    font-weight: normal;
                }

                .gauge .indicator {
                    stroke: #ffd500;
                    fill: #000;
                    stroke-width: 4px;
                }

                /* css formats for the segment display */
                .segdisplay .on {
                    fill: #468966;

                }

                .segdisplay .off {
                    fill: #ff8c00;
                    opacity: 0.15;
                }
            </style>
        <div class="col-md-4">
            <%= form_for @car, :method => :PUT, id: "mileage_form" do |f| %>
             <%= f.label "Update mileage:" %>
             <%= f.text_field :mileage, :value => @car.mileage %>
             <%= f.submit "Confirm edit" %>
             <% end %>
            <div>
                <span id="speedometer"></span>
            </div>
            <script>
                var svg = d3.select("#speedometer")
                        .append("svg:svg")
                        .attr("width", 400)
                        .attr("height", 400);


                var gauge = iopctrl.arcslider()
                        .radius(120)
                        .events(false)
                        .indicator(iopctrl.defaultGaugeIndicator);
                gauge.axis().orient("in")
                        .normalize(true)
                        .ticks(12)
                        .tickSubdivide(3)
                        .tickSize(10, 8, 10)
                        .tickPadding(5)
                        .scale(d3.scale.linear()
                                .domain([0, 100])
                                .range([-3*Math.PI/4, 3*Math.PI/4]));

                var segDisplay = iopctrl.segdisplay()
                        .width(80)
                        .digitCount(6)
                        .negative(false)
                        .decimals(0);

                svg.append("g")
                        .attr("class", "segdisplay")
                        .attr("transform", "translate(130, 200)")
                        .call(segDisplay);

                svg.append("g")
                        .attr("class", "gauge")
                        .call(gauge);

                segDisplay.value((<%= @car.mileage %>));
                gauge.value(<%= @service_change %>/1000);

                    console.log(gauge.value);
            </script>
    </div>

    <div class="col-md-4">
        <h3>Oil gauge</h3>
        <svg id="fillgauge3" width="80%" height="200"></svg>
         <script language="JavaScript">
            var config2 = liquidFillGaugeDefaultSettings();
            config2.circleColor = "#D4AB6A";
            config2.textColor = "#7D604D";
            config2.waveTextColor = "#7D604D";
            config2.waveColor = "#3B2D24";
            config2.circleThickness = 0.1;
            config2.circleFillGap = 0.2;
            config2.textVertPosition = 0.8;
            config2.waveAnimateTime = 2000;
            config2.waveHeight = 0.3;
            config2.waveCount = 1;
            var gauge3 = loadLiquidFillGauge("fillgauge3", (1 - (<%= @oil_change %>/5000))*100, config2);
            var config3 = liquidFillGaugeDefaultSettings();
        </script>
    </div>
 </div>

         
<% else %>
    <h3>You must be logged in to view this page</h3>
<% end %>
</div>

</div>
	<div id="tabs">
	  <ul>
	    <li><a href="#fragment-1">Maintenance</a></li>
	    <li><a href="#fragment-2">Issues</a></li>
	  </ul>
	  <div id="fragment-1" class="row-main"><br>
        <%= link_to 'Add New Maintenance', new_car_maintenance_path(@car), class: "btn btn-green" %>
        <%= link_to 'Maintenance History', car_maintenances_path(@car), class: "btn btn-back" %>
        <%= mail_to "me@domain.com", "Email maintenance form", class: "btn btn-email-main", subject: "#{current_user.first_name} #{@car.make} Maintenance Report", body: "Please fill out the maintenance form\r\n#{generate_url(Maintenance.new(), @car).first}" %><br><br>
            <hr>
			<%if @car.maintenances.blank? %>
				<p class="have-none"> You have no maintenance records. Click 'Add New Maintenance' to begin. </p>
			<%else%>
                <div class ="col-md-3 bold-font">
                    <p> Title </p>
                </div>
                <div class ="col-md-3 bold-font">
                   <p>Date Completed </p>
                </div>
                <div class ="col-md-6 bold-font">
                   <p> Description </p>
                </div><br><br>
            <hr>
	    		 <p><% @car.recent_maintenances(4).each do |maintenance|%>
				    <div class ="col-md-3">
	    		     <%= maintenance.title %>
	    	        </div>
	    	      <div class="col-md-3">
	    		<%= maintenance.date_completed %>
	    	</div>
	    	<div class="col-md-6">
	    		<%= maintenance.description %>
	    	</div><br><br>
            <hr>
	    	  <%end%>
	   		</p>
	   		<%end%>
	  </div>
	  <div id="fragment-2" class="row-main"><br>
	  	<%= link_to 'Add New Issue', new_car_issue_path(@car), class: "btn btn-red" %>
		<%= link_to 'Issue History', car_issues_path(@car), class: "btn btn-red-outline" %><br><br>
         <hr>
			<%if @car.issues.blank? %>
				<p class="have-none"> You have no issue records. Click 'Add New Issue' to begin. </p>
			<%else%>
                <div class="col-md-3 bold-font">
                    <p>Title</p>  
                </div>
                <div class="col-md-2 bold-font">
                    <p>Urgency</p>
                </div>
                <div class="col-md-3 bold-font">
                    <p>Description</p>
                 </div>
                 <div class="col-md-3 bold-font">
                    <p>Email Mechanic</p>
                 </div>
                 <div><br><br>
        <hr>
	    	      <p><% @car.recent_issues(4).each do |issue|%>
	    	      <div class="col-md-3">
                    <%=link_to issue.title, car_issue_path(@car) %>
                  </div>
                  <div class="col-md-2">
	    	      	<%= issue.urgency %>
                  </div>
                  <div class="col-md-3">
                    <%= issue.description%>
                  </div>
                  <div class="col-md-3">
                  <%= mail_to "me@domain.com", "Email Repair Report", class: "btn btn-email-main", subject: "#{current_user.first_name} #{@car.make} Repair Report", body: "Please fill out the repair report\r\n#{generate_url(issue, @car).first}" %>
                    </div><br><br>
        <hr>
	    	      <%end%> 
            </p>
                <%end%>      
	</div><br><br>
</div>
	 <%= link_to 'Back', cars_path, class: "btn btn-reverse" %><br><br>
</div>
<script>
  $( "#tabs" ).tabs({collapsible: false});
</script>