<div class="container">
	<% if current_user %>	
		<h1><%= @car.year %> <%=@car.make %> <%= @car.model %></h1>
			<%= @car.color %><br>
			<%= @car.transmission %><br>
			<%= @car.engine %><br>
<% else %>
	<h3>You must be logged in to view this page</h3>
<% end %>

<div>
	<%= link_to 'maintenance history', car_maintenances_path(@car) %> |
	<%= link_to 'add new maintenance', new_car_maintenance_path(@car) %><br>
	<%= link_to 'issues history', car_issues_path(@car) %> |
	<%= link_to 'add new issue', new_car_issue_path(@car) %><br> 
	<%= link_to 'edit', edit_car_path(@car) %> |
	<%= link_to 'delete', car_path(@car)><br>
	 <%= link_to 'back', cars_path %>
</div>
	<div id="tabs">
	  <ul>
	    <li><a href="#fragment-1">Maintenance</a></li>
	    <li><a href="#fragment-2">Issues</a></li>
	  </ul>
	  <div id="fragment-1">
	    <p> <% @car.maintenances.each do |maintenance|%>
	    	<%= maintenance.title %><br>
	    	<%= maintenance.date_completed %><br>
	    	<%= maintenance.description %><br><br>
	    	<%end%>
	   </p>
	  </div>
	  <div id="fragment-2">
	    <p><% @car.issues.each do |issue|%>
	    	<%= issue.title %><br>
	    	<%= issue.description%><br>
	    	<%= issue.urgency %><br><br>
	    	<%end%> </p>
	  </div>
	</div>
</div>
<script>
  $( "#tabs" ).tabs({collapsible: true});
</script>