<h1><%= @car.year %>
<div>
	<%= @car.make %>
	<%= @car.model %></h1>
	<ul>
	<li><%= @car.color %></li>
	<li><%= @car.transmission %></li>
	<li><%= @car.engine %></li></ul>
</div>


<%= link_to 'maintenance', car_maintenances_path(@car) %>
<br>
<%= link_to 'issues', car_issues_path(@car) %>

