<% if current_user %>	
	<% if current_user.id == @car.user_id %>
		<h1><%= @car.year %></h1>
		<div>
			<%= @car.make %>
			<%= @car.model %></h1>
			<%= @car.color %>
			<%= @car.transmission %>
			<%= @car.engine %>
		</div>
	<% else %>
		<h3>You are not authorized to view this page</h3>
	<% end %>
<% else %>
	<h3>You must be logged in to view this page</h3>
<% end %>

<div>
	<%= link_to 'maintenance history', car_maintenances_path(@car) %> |
	<%= link_to 'add new maintenance', new_car_maintenance_path(@car) %><br>
	<%= link_to 'issues history', car_issues_path(@car) %> |
	<%= link_to 'add new issue', new_car_issue_path(@car) %><br> 
	<%= link_to 'edit', edit_car_path(@car) %> |
	<%= link_to 'delete', car_path(@car), method: :delete,
	 data: { confirm: 'Are you sure?' } %><br>
	 <%= link_to 'back', cars_path %>
</div>
<div class="container">
	<div id="tabs">
	  <ul>
	    <li><a href="#fragment-1">Maintenance</a></li>
	    <li><a href="#fragment-2">Repairs</a></li>
	  </ul>
	  <div id="fragment-1">
	    <p> <% @car.maintenances.each do |maintenance|%>
	    	<%= maintenance.title %>
	    	<%end%>
	   </p>
	  </div>
	  <div id="fragment-2">
	    <p>A second thing </p>
	  </div>
	</div>
</div>
<script>
  $( "#tabs" ).tabs({collapsible: true});
</script>