<!DOCTYPE html>
<html>
  <head>
    <title>HealthyCar</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  </head>
	<div class="navbar navbar-default navbar-fixed-top">
	    <div class="container">
	        <div class="navbar-header">
	            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
	                <span class="icon-bar"></span>
	                <span class="icon-bar"></span>
	                <span class="icon-bar"></span>
	            </button>
	            <a class="navbar-brand" href="#">auto-biography</a>
	        </div>
	        <center>
	        	<div class="navbar-right">
	        	<% if current_user %>
	        		<%= link_to 'Home', root_path %>
							<%= link_to current_user.first_name, user_path(current_user) %>
							<%= link_to 'Logout', destroy_user_session_path, method: :delete %>
						<% else %>
		          <div class="navbar-collapse collapse" id="navbar-main">
		      <!--          <ul class="nav navbar-nav">
		                   <li class="active"><a href="#">Link</a>
		                   </li>
		                   <li><a href="#">Link</a>
		                   </li>d
		                   <li><a href="#">Link</a>
		                   </li>
		                   <li><a href="#">Link</a>
		                   </li>
		                   <li><a href="#">Link</a>
		                   </li>
			               </ul> -->
			          <%= form_for(:user, :url => session_path(:user), html: { class: "navbar-form navbar-right form-inline" }) do|f| %>
			        		<div class="form-group">
			          		<%= f.text_field :email, :placeholder => "Email", class: "form-control" %> 
			        		</div>
			        		<div class="form-group">
			          		<%= f.password_field :password, :placeholder => "Password", class: "form-control"  %>
			        		</div>
			        		<%= f.submit 'Login', class: "btn btn-default" %><br>
			        		<div class="checkbox">
			          		<%= f.check_box :remember_me %><%= f.label :remember_me %>
			        		</div>
								<% end %>
		          </div>
		        <% end %>
		      </div>
	        </center>
	    </div>
	</div>
  <body>
    <%= yield %>
  </body>
<div id="wrap">
  <div id="main" class="container clear-top">
    <p>Your content here</p>
  </div>
</div>
<footer class="footer"></footer>