<!DOCTYPE html>
<html>
  <head>
    <title>auto-biography</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  </head>
	<div class="navbar navbar-default navbar-fixed-top">
	    <div class="container">
	        <div class="navbar-header">
	            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
	                <span class="icon-bar"></span>
	                <span class="icon-bar"></span>
	                <span class="icon-bar"></span>
	            </button>
	            <a class="navbar-brand" href="#">auto-biography <span class="glyphicon glyphicon-wrench"></span></a>
	        </div>
	        <center>
	        	<div class="navbar-right">
	        	<% if current_user %>
							Welcome <%= current_user.first_name%> | 
	        				<%= link_to 'Home', cars_path %> |
							<%= link_to 'Logout', destroy_user_session_path, method: :delete %>
				    <% else %>
		          <div class="navbar-collapse collapse" id="navbar-main">
			          	<%= form_for(:user, :url => session_path(:user), html: { class: "navbar-form navbar-right form-inline" }) do|f| %>
			        		<div class="form-group">
			          			<%= f.text_field :email, :placeholder => "Email", class: "form-control" %> 
			        		</div>

			        		<div class="form-group">
			          			<%= f.password_field :password, :placeholder => "Password", class: "form-control"  %>
			        		</div>

			        			<%= f.submit 'Login', class: "btn btn-default" %><br>

			        		<div class="checkbox">
			          			<%= f.check_box :remember_me %><%= f.label :remember_me %> |
                				<%= link_to "Register",  new_user_registration_path%>
			        		</div>
						  <% end %>
		          </div>
		        <% end %>
		      </div>
	        </center>
	    </div>
	</div>
  <body>
    <%= yield %>
  </body>
<div id="wrap">
  <div id="main" class="container clear-top">
  </div>
</div>
    <footer class="footer-distributed">

      <div class="footer-left">

        <h3><span>auto-biography</span></h3>

        <p class="footer-links">
          <a href="#">Home</a>
          ·
          <a href="#">About</a>
          ·
          <a href="#">Faq</a>
          ·
          <a href="#">Contact</a>
        </p>

        <p class="footer-company-name">Team NO DRAMA &copy; 2016</p>
      </div>

      <div class="footer-center">

        <div>
          <i class="fa fa-map-marker"></i>
          <p><span>633 Folsom St</span> San Francisco, CA 94107</p>
        </div>

        <div>
          <i class="fa fa-envelope"></i>
          <p><a href="mailto:support@company.com">support@company.com</a></p>
        </div>

      </div>

      <div class="footer-right">

        <p class="footer-company-about">
          <span>About the company</span>
          Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus vehicula sit amet.
        </p>

        <div class="footer-icons">

          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-linkedin"></i></a>
          <a href="#"><i class="fa fa-github"></i></a>

        </div>

      </div>

    </footer>

